<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="db_ERP_WriteConnection" connectionString="server=192.168.117.126;database=Group.ERP;user id=test;password=t#@!$%;min pool size=20;max pool size=300;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="CONFIG_CENTER_PATH" value="192.168.117.155/9981/ERP/50TaskCenter" />
    <!--<add key="CONFIG_CENTER_PATH" value="192.168.100.205/9527/ERP/TaskCenterPreRelease"/>-->
    <add key="ApiUrl" value="http://192.168.117.39:3005/api/" />
    <add key="StopTask" value="CalculateStockBalanceFlow" />
    <add key="NeedAddStorageReadQuantity" value="1000" />
    <add key="ReckoningReadQuantity" value="1000" />
    <add key="FinishTaskTimes" value="0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23" />
    <add key="ERP_StockCenter_WaitPushDBName" value="db_CMS" />
    <add key="AutoPurchasingTime" value="1" />
    <add key="FirstStockDeclareTime" value="9:00" />
    <add key="SecondStockDeclareTime" value="15:00" />
    <!--统计订单发货率可发订单量截至时间，24小时计时格式-->
    <add key="CanGoodsOrderTime" value="20" />
    <add key="CreateStockHour" value="0,1,2,3,4,5,6,7,8" />
    <!--顺丰接入编码-->
    <add key="SFAccess" value="SHKDGXKJ" />
    <!--顺丰校验码-->
    <add key="SFCheckWork" value="xdUh2kv3LGyqZYri" />
    <!--顺丰月结卡号-->
    <add key="SFCustId" value="0215765895" />
    <!--中通合作方代码-->
    <add key="ZTOPartner" value="test" />
    <!--中通加密密码-->
    <add key="ZTOPassword" value="123456" />
    <!--中通运单号最低可用数量-->
    <add key="ZTOUsableMailNoQuantity" value="50" />
    <!--中通每次生成运单号数量，最大不能超过1000-->
    <add key="ZTOGenerateMailNoQuantity" value="10" />
    <!--宅急送客户端标识-->
    <add key="ZJSClientFlag" value="TestClient" />
    <!--圆通客户编码-->
    <add key="YTClientId" value="K10101010" />
    <!--圆通客户代码-->
    <add key="YTCustomerId" value="K10101010" />
    <!--圆通合作方代码-->
    <add key="YTParternId" value="123456" />
    <!--圆通下单POST请求地址-->
    <add key="YTRequestUrl" value="http://112.64.239.247:7800/web/CommonOrderModeBServlet.action" />
    <!--微特派POST请求地址-->
    <add key="WTPRequestUrl" value="http://ditu.weitepai.com/wtperp/duijie/dj_receivewaybill_new.php" />
    <!--微特派密钥-->
    <add key="WTPKey" value="123456" />
    <!--微特派客户编号-->
    <add key="WTPCustomersId" value="10008" />
    <!--申通POST请求地址-->
    <add key="STORequestUrl" value="http://122.225.107.78:900/?API=KEEDE" />
    <!--快递异步数据处理间隔时间(毫秒) 1000毫秒=1秒  -->
    <add key="ASYNExpressTime" value="60000" />
    <!--快递异步数据处理数量-->
    <add key="ASYNExpressNum" value="20" />
    <!--快递编号异步数据处理间隔时间(毫秒) 1000毫秒=1秒  -->
    <add key="ASYNExpressNoTime" value="60000" />
    <!--快递编号异步数据处理数量-->
    <add key="ASYNExpressNoNum" value="20" />
    <!-- 资质过期时间，小于等于30天为快过期 -->
    <add key="Expire" value="30" />
    <!-- 执行时间 -->
    <add key="CreateStockHour" value="0,1,2,3,4,5,6,7,8" />
    <!-- 报表任务执行间隔 多少分钟执行一次(30*n) -->
    <add key="Minutes" value="60" />
    <!-- 日志中心 -->
    <add key="SourceSystemID" value="579175a5-a61b-4717-afff-db788494ae2a" />
    <add key="AppId" value="2" />
    <add key="AppPwd" value="OCLXUK61" />
    <add key="Host" value="192.168.117.210:9999" />
    <add key="Topic" value="LogQueue" />
    <!-- 申通双11临时接口任务数据每次执行条数 -->
    <add key="Sto11HandleNum" value="1000" />
    <!-- 申通双11临时接口任务执行间隔时间（单位：分钟）-->
    <add key="Sto11HandleTime" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
    <!-- 凌晨生成入库单和采购单的触发的开始小时数 -->
    <add key="SaleFilialeGenerateStockInAndPurchase.TriggerStartHour" value="0" />
    <!-- 凌晨生成入库单和采购单的触发的结束小时数 -->
    <add key="SaleFilialeGenerateStockInAndPurchase.TriggerEndHour" value="4" />

    <!-- 记录销售单的即时结算价的触发的开始小时数 -->
    <add key="GenerateSaleOrderGoodsSettlement.TriggerStartHour" value="0" />
    <!-- 记录销售单的即时结算价的触发的结束小时数 -->
    <add key="GenerateSaleOrderGoodsSettlement.TriggerEndHour" value="4" />
    <!-- 记录销售单的即时结算价的统计日期为当前时间往前推第N天 -->
    <add key="GenerateSaleOrderGoodsSettlement.DaysBefore" value="2" />
    <!-- 记录销售单的即时结算价的每次获取的记录数 -->
    <add key="GenerateSaleOrderGoodsSettlement.MaxRowCount" value="100" />

    <!-- 商品即时结算价按月归档的触发的开始小时数 -->
    <add key="ArchiveLastMonthGoodsSettlement.TriggerStartHour" value="0" />
    <!-- 商品即时结算价按月归档的触发的结束小时数 -->
    <add key="ArchiveLastMonthGoodsSettlement.TriggerEndHour" value="4" />
    
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://192.168.117.39:10070/IERPAdminWeb" binding="netTcpBinding" bindingConfiguration="UCNetTcpBinding" contract="MemberCenter.Contract.IERPMemberService" name="MemberCenterService" />
      <!--邮件短信通道（新）-->
      <!--<endpoint address="net.msmq://192.168.100.173/private/EmailSmsService"  binding="netMsmqBinding" bindingConfiguration="MsmgBinding" contract="keede.EmailSmsService.Contract.IMailService" name="EMailSmsClientEndpoint"/>-->
      <!--KeedeGroup.MIS-->
      <endpoint address="net.tcp://192.168.117.39:5000/IService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" contract="MIS.Service.Contract.IService" name="Group.MIS" />
      <endpoint address="net.tcp://192.168.117.146:5002/IService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" contract="HRS.WCF.Contract.IService" name="Group.HRS" />
      <endpoint address="net.tcp://192.168.117.146:5003/IOperationService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" contract="HRS.WCF.Contract.IOperationService" name="Group.HRSOperation" />
      <!--<endpoint address="net.tcp://192.168.117.146:5005/IStockCenterContract" binding="netTcpBinding" bindingConfiguration="stockCenterTcpBind" contract="StockCenter.Contract.IStockCenterContract" name="ERP.StockCenter" />-->
      <endpoint address="net.tcp://192.168.117.39:5006" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" contract="ERP.SAL.Interface.IFinishOrder" name="ERP.FinishOrder" />
      <!-- B2C服务 -->
      <endpoint address="net.tcp://192.168.117.146:6000/IService" binding="netTcpBinding" contract="B2C.Service.Contract.IKeedeAdmin" bindingConfiguration="keedeTcpBind" name="B2C.Keede" />
      <endpoint address="net.tcp://192.168.117.146:6002/IService" binding="netTcpBinding" contract="B2C.Service.Contract.IKeedeAdmin" bindingConfiguration="keedeTcpBind" name="B2C.Baishop" />
      <!--<endpoint address="net.tcp://121.196.138.96:30000/ITmallSynchronous" binding="netTcpBinding" bindingConfiguration="TMallTcpBind" contract="Baishop.Service.SyncIntermediary.Contract.ITmallSynchronous"  name="Baishop.SyncIntermediary" />-->
      <!-- 促销中心-endpoint -->
      <endpoint address="net.tcp://192.168.117.146:10011/IPromotionAdmin" binding="netTcpBinding" bindingConfiguration="NewPromotionTcpBind" contract="PromotionCenter.Public.Contract.IPromotionAdmin" behaviorConfiguration="NewPromotionBehavior" name="NewPromotionService" />
      <!-- 商品中心 -->
      <endpoint address="net.tcp://192.168.117.146:7100/IERPGoodsService" binding="netTcpBinding" bindingConfiguration="GoodsServerBind" behaviorConfiguration="GoodsServerBehavior" contract="KeedeGroup.GoodsManageSystem.Public.Interface.ERP.IERPGoodsService" name="ERPGoodsService" />
      <!--<endpoint address="net.tcp://192.168.2.70:5500/IService" binding="netTcpBinding" contract="ShopSystem.Company.Service.Interface.IService" bindingConfiguration="keedeTcpBind" name="Shop.Keede" />
      <endpoint address="net.tcp://192.168.2.70:5600/IService" binding="netTcpBinding" contract="ShopSystem.Company.Service.Interface.IService" bindingConfiguration="keedeTcpBind" name="Shop.OLEN" />-->
      <!--顺丰接口-->
      <endpoint address="http://bsp-oisp.sf-express.com/bsp-oisp/ws/expressService?wsdl" binding="basicHttpBinding" bindingConfiguration="CommonServiceServiceSoapBinding" contract="SFService.IService" name="CommonServicePort" />
      <!--宅急送-->
      <endpoint address="http://edi.zjs.com.cn/EdiBarCodeService/EdiBarCodeService.asmx" binding="basicHttpBinding" bindingConfiguration="EdiBarCodeServiceSoap" contract="ZJSService.EdiBarCodeServiceSoap" name="EdiBarCodeServiceSoap" />
      <!--操作日志接口-->
      <endpoint address="net.tcp://192.168.117.39:15020/IWriteService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" name="OperationWriteService" contract="OperationLog.Contract.IWriteService" />
      <endpoint address="net.tcp://192.168.117.39:15021/IReadService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" name="OperationReadService" contract="OperationLog.Contract.IReadService" />
      <!-- KD联盟店服务 -->
      <endpoint address="net.tcp://192.168.117.39:9000/IDomainService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" name="Shop.Keede" contract="AllianceShop.Contract.IDomainService" />
      <!-- BS联盟店服务 -->
      <endpoint address="net.tcp://192.168.117.146:9001/IDomainService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" name="Shop.OLEN" contract="AllianceShop.Contract.IDomainService" />
      <endpoint address="net.tcp://192.168.117.146:5111/IServiceContract" binding="netTcpBinding" contract="Baishop.Service.EnterpriseCertification.Contract.IServiceContract" bindingConfiguration="keedeTcpBind" name="EnterpriseCertification_JT" />
    </client>
    <behaviors>
      <!-- 商品中心 -->
      <endpointBehaviors>
        <behavior name="GoodsServerBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="ServiceViewEventBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="MemberCenterBehavior">
          <dataContractSerializer ignoreExtensionDataObject="false" maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="EndPointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="1073741824" />
        </behavior>
        <!-- 促销中心-behavior -->
        <behavior name="NewPromotionBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="CommonServiceServiceSoapBinding" />
        <binding name="EdiBarCodeServiceSoap" />
      </basicHttpBinding>
      <!-- 商品中心 -->
      <netTcpBinding>
        <binding name="UCNetTcpBinding" sendTimeout="00:01:00" maxBufferSize="2147483647" maxConnections="20" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647">
          </readerQuotas>
          <security mode="None" />
        </binding>
        <binding name="GoodsServerBind" closeTimeout="00:01:00" openTimeout="00:10:00" receiveTimeout="01:00:00" sendTimeout="00:01:00" maxBufferSize="2147483647" maxConnections="1000" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
        <binding name="keedeTcpBind" closeTimeout="00:01:00" openTimeout="00:10:00" receiveTimeout="00:05:30" sendTimeout="00:10:00" maxBufferSize="2147483647" maxConnections="20" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
          </security>
        </binding>
        <!-- 促销中心-binding -->
        <binding name="NewPromotionTcpBind" closeTimeout="00:00:03" openTimeout="00:00:03" receiveTimeout="00:30:00" sendTimeout="00:00:05" maxBufferSize="2147483647" maxConnections="50000" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <netMsmqBinding>
        <!--<binding name="MsmgBinding" maxReceivedMessageSize="2147483647" exactlyOnce="false" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="None" />
        </binding>-->
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>