<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net40" />
  <package id="Config.Keede.Library" version="1.0.7" targetFramework="net461" />
  <package id="Framework" version="2.0.9.4" targetFramework="net40" />
  <package id="Framework.Core" version="3.2.0-beta14" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="Unity" version="2.1.505.2" targetFramework="net40" />
</packages>