<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="http" />
                <binding name="http1" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="tcp">
                    <security mode="None" />
                </binding>
                <binding name="tcp1">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="MetadataExchangeHttpBinding_IService">
                    <security mode="None" />
                </binding>
                <binding name="MetadataExchangeHttpBinding_ITestForJMeter">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://192.168.117.230:5004/IService" binding="netTcpBinding"
                bindingConfiguration="tcp" contract="ErpService.IService"
                name="tcp" />
            <endpoint address="http://192.168.117.230:15004/IService" binding="basicHttpBinding"
                bindingConfiguration="http" contract="ErpService.IService"
                name="Group.ERP" />
            <endpoint address="http://192.168.117.230:15004/IService/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IService"
                contract="ErpService.IService" name="MetadataExchangeHttpBinding_IService" />
            <endpoint address="net.tcp://192.168.117.230:5004/ITestForJMeter"
                binding="netTcpBinding" bindingConfiguration="tcp1" contract="TestForJMeter.ITestForJMeter"
                name="tcp1" />
            <endpoint address="http://192.168.117.230:15004/ITestForJMeter"
                binding="basicHttpBinding" bindingConfiguration="http1" contract="TestForJMeter.ITestForJMeter"
                name="Group.ERP.ForTest" />
            <endpoint address="http://192.168.117.230:15004/ITestForJMeter/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_ITestForJMeter"
                contract="TestForJMeter.ITestForJMeter" name="MetadataExchangeHttpBinding_ITestForJMeter" />
        </client>
    </system.serviceModel>
</configuration>