<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <system.serviceModel>
    
        <bindings>
            <netTcpBinding>
                <binding name="keedeTcpBind" closeTimeout="00:01:00" sendTimeout="00:01:00"
                   maxBufferSize="2147483647" maxConnections="20" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                    <reliableSession enabled="true" inactivityTimeout="00:10:00" ordered="true" />
                    <security mode="None">
                        <transport clientCredentialType="Windows" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        
        <client>
            <!--<endpoint
                address="net.tcp://localhost:9541/kdc/"
                binding="netTcpBinding"
                bindingConfiguration="keedeTcpBind"
                contract="Keede.ForEyesee.Service.IEyesee"
                name="NetTcpBinding_IEyesee" />-->
            <endpoint
            address="http://localhost:9541/kdc/"
            binding="wsHttpBinding"
            contract="Keede.ForEyesee.Service.IEyesee"
            name="NetTcpBinding_IEyesee" />
        </client>
    </system.serviceModel>
    <connectionStrings>
        <!--<add name="SQLBasicConfigureConnString" connectionString="server=192.168.1.81;database=test.eyeseedb;user id=test;password=t#@!$%;min pool size=4;max pool size=4;" providerName="System.Data.SqlClient" />-->
      <!--<add name="SQLBasicConfigureConnString" connectionString="server=192.168.1.81;database=test.eyeseedb;user id=test;password=t#@!$%;min pool size=4;max pool size=4;" providerName="System.Data.SqlClient" />-->
    </connectionStrings>
</configuration>