<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="db_ERP_WriteConnection" connectionString="server=192.168.117.126;database=Group.ERP;user id=test;password=t#@!$%;min pool size=20;max pool size=300;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="CONFIG_CENTER_PATH" value="192.168.117.155/9981/ERP/50Service" />
    <!--<add key="CONFIG_CENTER_PATH" value="192.168.100.205/9527/ERP/ServicePreRelease"/>-->
    <add key="ApiUrl" value="http://192.168.117.50:3005/api/" />
    <add key="FilialeId" value="06B30857-82F5-45F5-8768-79BD4211806C" />
    <add key="ERP_StockCenter_WaitPushDBName" value="db_CMS" />
    <!--保持几年数据查询-->
    <add key="KeepYearsData" value="1" />
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="ERP.Service.Implement.Service" behaviorConfiguration="behaviorConfig">
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.117.230:15004/IService" />
          </baseAddresses>
        </host>
        <endpoint name="tcp" address="net.tcp://192.168.117.230:5004/IService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" contract="ERP.Service.Contract.IService" />
        <endpoint name="http" address="http://192.168.117.230:15004/IService" binding="basicHttpBinding" bindingConfiguration="keedeBasicHttpBind" contract="ERP.Service.Contract.IService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="ERP.Service.Contract.IService" />
      </service>
      <service name="ERP.Service.Implement.TestForJMeter" behaviorConfiguration="behaviorConfig">
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.117.230:15004/ITestForJMeter" />
          </baseAddresses>
        </host>
        <endpoint name="tcp" address="net.tcp://192.168.117.230:5004/ITestForJMeter" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" contract="ERP.Service.Contract.ITestForJMeter" />
        <endpoint name="http" address="http://192.168.117.230:15004/ITestForJMeter" binding="basicHttpBinding" bindingConfiguration="keedeBasicHttpBind" contract="ERP.Service.Contract.ITestForJMeter" />
        <endpoint address="mex" binding="mexHttpBinding" contract="ERP.Service.Contract.ITestForJMeter" />
      </service>
    </services>
    <client>
      <endpoint address="net.tcp://192.168.117.50:10070/IERPAdminWeb" binding="netTcpBinding" bindingConfiguration="UCNetTcpBinding" contract="MemberCenter.Contract.IERPMemberService" name="MemberCenterService" />
      <!--邮件短信通道（新）-->
      <!--<endpoint address="net.msmq://192.168.100.173/private/EmailSmsService"  binding="netMsmqBinding" bindingConfiguration="MsmgBinding" contract="keede.EmailSmsService.Contract.IMailService" name="EMailSmsClientEndpoint"/>-->
      <endpoint address="net.tcp://192.168.117.50:5000/IService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" contract="MIS.Service.Contract.IService" name="Group.MIS" />
      <endpoint address="net.tcp://192.168.117.50:5002/IService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" contract="HRS.WCF.Contract.IService" name="Group.HRS" />
      <endpoint address="net.tcp://192.168.117.50:6000/IService" binding="netTcpBinding" contract="B2C.Service.Contract.IKeedeAdmin" bindingConfiguration="keedeTcpBind" name="B2C_KD" />
      <endpoint address="net.tcp://192.168.117.50:6002/IService" binding="netTcpBinding" contract="B2C.Service.Contract.IKeedeAdmin" bindingConfiguration="keedeTcpBind" name="B2C_BS" />
      <endpoint address="net.tcp://192.168.117.50:7100/IERPGoodsService" binding="netTcpBinding" bindingConfiguration="GoodsServerBind" behaviorConfiguration="GoodsServerBehavior" contract="KeedeGroup.GoodsManageSystem.Public.Interface.ERP.IERPGoodsService" name="ERPGoodsService" />

      <!--顺丰接口-->
      <endpoint address="http://bsp-oisp.sf-express.com/bsp-oisp/ws/sfexpressService?wsdl" binding="basicHttpBinding" bindingConfiguration="CommonExpressServiceServiceSoapBinding" contract="SFService.IExpressService" name="CommonExpressServicePort" />

      <!--宅急送-->
      <endpoint address="http://edi.zjs.com.cn/EdiBarCodeService/EdiBarCodeService.asmx" binding="basicHttpBinding" bindingConfiguration="EdiBarCodeServiceSoap" contract="ZJSService.EdiBarCodeServiceSoap" name="EdiBarCodeServiceSoap" />

      <!--操作日志接口-->
      <endpoint address="net.tcp://192.168.117.50:15020/IWriteService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" name="OperationWriteService" contract="OperationLog.Contract.IWriteService" />
      <endpoint address="net.tcp://192.168.117.50:15021/IReadService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" name="OperationReadService" contract="OperationLog.Contract.IReadService" />
      <!-- 促销中心-endpoint -->
      <endpoint address="net.tcp://192.168.117.50:10011/IPromotionAdmin" binding="netTcpBinding" bindingConfiguration="NewPromotionTcpBind" contract="PromotionCenter.Public.Contract.IPromotionAdmin" behaviorConfiguration="NewPromotionBehavior" name="NewPromotionService" />
      <endpoint address="net.tcp://192.168.117.50:5111/IServiceContract" binding="netTcpBinding" contract="Baishop.Service.EnterpriseCertification.Contract.IServiceContract" bindingConfiguration="keedeTcpBind" name="EnterpriseCertification_JT"></endpoint>
      <endpoint address="net.tcp://192.168.117.50:9000/IDomainService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" name="Shop.Keede" contract="AllianceShop.Contract.IDomainService" />
    </client>

    <behaviors>
      <endpointBehaviors>
        <behavior name="GoodsServerBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="ServiceViewEventBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="NewPromotionBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
      <!--netTcpBinding-->
      <serviceBehaviors>
        <behavior name="behaviorConfig">
          <serviceDebug includeExceptionDetailInFaults="True" />
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="1000" maxConcurrentInstances="1000" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="CommonExpressServiceServiceSoapBinding" />
        <binding name="EdiBarCodeServiceSoap" />
        <binding name="keedeBasicHttpBind" closeTimeout="00:05:00" sendTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:05:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None"></security>
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="UCNetTcpBinding" sendTimeout="00:01:00" maxBufferSize="2147483647" maxConnections="20" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"></readerQuotas>
          <security mode="None" />
        </binding>
        <binding name="GoodsServerBind" closeTimeout="00:01:00" openTimeout="00:10:00" receiveTimeout="01:00:00" sendTimeout="00:01:00" maxBufferSize="2147483647" maxConnections="1000" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
        <binding name="TMallTcpBind" closeTimeout="00:05:00" sendTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:05:00" maxBufferSize="2147483647" maxConnections="20" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None"></security>
        </binding>
        <binding name="keedeTcpBind" closeTimeout="00:05:00" sendTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:05:00" maxBufferSize="2147483647" maxConnections="150" maxReceivedMessageSize="2147483647" listenBacklog="150">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None"></security>
        </binding>
        <binding name="NewPromotionTcpBind" closeTimeout="00:00:10" openTimeout="00:00:10" receiveTimeout="00:10:00" sendTimeout="00:00:30" maxBufferSize="2147483647" maxConnections="1000" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
        <binding name="ShopAdminTcpBind" maxBufferPoolSize="2147483648899999999" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxConnections="200">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None"></security>
        </binding>
        <binding name="HeartbeatBinding">
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <netMsmqBinding>
        <binding name="MsmgBinding" maxReceivedMessageSize="2147483647" exactlyOnce="false" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>