<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Framework.Core" version="3.2.0-beta14" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net461" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net461" />
  <package id="Shop.Service" version="7.0.2.0" targetFramework="net40" />
  <package id="System.Net.Http" version="4.0.0" targetFramework="net461" />
</packages>