<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ERP_StockCenter_WaitPushDBName" value="db_CMS" />
		<add key="SystemId" value="B7E7DFC0-03A6-40AF-9333-B2E8B4695F1D" />
		<add key="FilialeId" value="06B30857-82F5-45F5-8768-79BD4211806C" />
    <add key="ReadCount" value="100" />
		<add key="FinishTaskTimes" value="0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23" />
	</appSettings>
	<connectionStrings>
    <add name="db_CMS" connectionString="server=192.168.1.226;database=Test.Group.ERP;user id=rjf;password=rjf;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.serviceModel>
		<client>
      <endpoint address="net.tcp://222.73.240.70:5100/IService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" contract="MIS.Service.Contract.IService" name="Group.MIS" />
      <endpoint address="net.tcp://222.73.240.70:5105/IStockCenterContract" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" contract="StockCenter.Contract.IStockCenterContract" name="ERP.StockCenter" />
      <!-- 商品中心 -->
      <endpoint address="net.tcp://222.73.234.215:9100/IGoodsServer" binding="netTcpBinding" bindingConfiguration="GoodsServerBind" behaviorConfiguration="GoodsServerBehavior" name="GoodsServer" contract="KeedeGroup.GoodsManageSystem.Public.Interface.IGoodsServer" />
    </client>

    <behaviors>
      <endpointBehaviors>
        <!-- 商品中心 -->
        <behavior name="GoodsServerBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
		<services>
			<service name="FinishOrder.Core.Finish">
				<endpoint address="net.tcp://192.168.1.180:5006" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" contract="FinishOrder.Core.IFinish" />
			</service>
		</services>
    
		<bindings>
			<netTcpBinding>
        <!-- 商品中心 -->
        <binding name="GoodsServerBind" closeTimeout="00:01:00" openTimeout="00:10:00" receiveTimeout="01:00:00" sendTimeout="00:01:00" maxBufferSize="2147483647" maxConnections="1000" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
				<binding name="keedeTcpBind" closeTimeout="00:01:00" sendTimeout="00:01:00" maxBufferSize="2147483647" maxConnections="20" maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
					<security mode="None"></security>
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>