<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="db_ERP_Write" connectionString="server=192.168.117.126;database=Group.ERP;user id=test;password=t#@!$%;min pool size=20;max pool size=300;" providerName="System.Data.SqlClient" />
    <add name="db_ERP_Read" connectionString="server=192.168.117.126;database=Group.ERP;user id=test;password=t#@!$%;min pool size=20;max pool size=300;" providerName="System.Data.SqlClient" />
    <add name="db_Report" connectionString="server=192.168.117.126;database=Group.ERP.Report;user id=test;password=t#@!$%;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="CONFIG_CENTER_PATH" value="192.168.117.155/9981/ERP/146Web" />
    <add key="SystemId" value="B7E7DFC0-03A6-40AF-9333-B2E8B4695F1D" />
    <add key="FilialeId" value="06B30857-82F5-45F5-8768-79BD4211806C" />
    <add key="MainWarehouseID" value="B5BCDF6E-95D5-4AEE-9B19-6EE218255C05" />
    <!--联盟店资源服务器id-->
    <add key="ShopWebSiteId" value="2768C9A8-3500-43F9-A1C1-46A83568EF14" />
    <add key="IsWebSite" value="true" />
    <add key="IsTestWebSite" value="true" />
    <add key="ExceptionLogPath" value="E:\LogFiles\CMS\" />
    <add key="keedeurl" value="http://localhost:10585/"></add>
    <add key="eyeseeurl" value="http://localhost:10585/" />
    <!-- 团购生成页面服务器URL-->
    <add key="CheckPath" value="userdir/ZzzCheckingHistoryFolder/对账记录表.xml" />
    <add key="StockDeclare" value="9:30" />
    <add key="IsTestOrder" value="true" />
    <add key="SemiStockProcess" value="1" />
    <!--配货分拣流程开关-->
    <add key="IsPickONOFF" value="False" />
    <!--Eyesee的异常错误 1提示 0不提示-->
    <add key="EyeseeError" value="1" />
    <!--广告流量统计URL-->
    <add key="ClickCount" value="http://www.keede.com.cn/ClickCount.aspx?id={0}&amp;url={1}" />
    <!--管理系统开关-->
    <add key="ManageONOFF" value="True" />
    <!--管理系统接入地址-->
    <add key="ManageAddress" value="http://192.168.1.81:7788/" />
    <!--保持几年数据查询-->
    <add key="KeepYearsData" value="2" />
    <!--统一登录需求配置-->
    <add key="DES_KEY" value="06EEBA9506C3412dABA61D1F6309D924" />
    <add key="Platform" value="0" />
    <!--短信邮件密钥-->
    <add key="EncryptKey" value="jiejie65" />
    <add key="ResourceServerImg" value="http://192.168.117.225:2010/main/" />
    <add key="ResourceServerInformation" value="http://192.168.1.81:2014/" />
    <add key="ERP_StockCenter_WaitPushDBName" value="db_ERP_Write" />
    <add key="NeedMonitorSQL" value="false" />
    <add key="LoginOutUrl" value="http://192.168.1.81:3000/LoginOut.ashx" />
    <!--统计订单发货率可发订单量截至时间，24小时计时格式-->
    <add key="CanGoodsOrderTime" value="20" />

    <!--顺丰接入编码-->
    <add key="SFAccess" value="SHKDGXKJ" />
    <!--顺丰校验码-->
    <add key="SFCheckWork" value="xdUh2kv3LGyqZYri" />
    <!--顺丰月结卡号-->
    <add key="SFCustId" value="0215765895" />
    <!--中通合作方代码-->
    <add key="ZTOPartner" value="test" />
    <!--中通加密密码-->
    <add key="ZTOPassword" value="123456" />
    <!--中通运单号最低可用数量-->
    <add key="ZTOUsableMailNoQuantity" value="50" />
    <!--中通每次生成运单号数量，最大不能超过1000-->
    <add key="ZTOGenerateMailNoQuantity" value="10" />
    <!--宅急送客户端标识-->
    <add key="ZJSClientFlag" value="TestClient" />
    <!--圆通客户编码-->
    <add key="YTClientId" value="K10101010" />
    <!--圆通客户代码-->
    <add key="YTCustomerId" value="K10101010" />
    <!--圆通合作方代码-->
    <add key="YTParternId" value="123456" />
    <!--圆通下单POST请求地址-->
    <add key="YTRequestUrl" value="http://218.83.245.210:9001/web/CommonOrderModeBServlet.action" />
    <!--圆通取消订单POST请求地址-->
    <add key="YTRequestUrlCancel" value="http://218.83.245.210:9001/web/CommonOrderServlet.action" />
    <!--微特派POST请求地址-->
    <add key="WTPRequestUrl" value="http://ditu.weitepai.com/wtperp/duijie/dj_receivewaybill_new.php" />
    <!--微特派密钥-->
    <add key="WTPKey" value="123456" />
    <!--微特派客户编号-->
    <add key="WTPCustomersId" value="10008" />
    <!--申通POST请求地址-->
    <add key="STORequestUrl" value="http://122.225.107.78:900/?API=KEEDE" />

    <!--门店申报部门-->
    <add key="ShopBranchId" value="74f712a7-0614-4298-baeb-8ef68edb0eb1" />
    <!-- 资质过期时间，小于等于30天为快过期 -->
    <add key="Expire" value="30" />

    <!-- 销量排行读取图片大小 -->
    <add key="ImageSize" value="90" />
    <!-- 日志中心 -->
    <add key="SourceSystemID" value="579175a5-a61b-4717-afff-db788494ae2a" />
    <add key="AppId" value="2" />
    <add key="AppPwd" value="OCLXUK61" />
    <add key="Host" value="192.168.117.210:9999" />
    <add key="Topic" value="LogQueue" />
    <!-- WMS API -->
    <!--<add key="ApiUrl" value="http://192.168.117.39:3005/api/" />-->
    <add key="ApiUrl" value="http://localhost:1265/api/" />
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://192.168.117.39:10070/IERPAdminWeb" binding="netTcpBinding" bindingConfiguration="UCNetTcpBinding" contract="MemberCenter.Contract.IERPMemberService" name="MemberCenterService" />
      <!--邮件短信通道（新）-->
      <!--<endpoint address="net.msmq://192.168.100.173/private/EmailSmsService"  binding="netMsmqBinding" bindingConfiguration="MsmgBinding" contract="keede.EmailSmsService.Contract.IMailService" name="EMailSmsClientEndpoint"/>-->
      <!--KeedeGroup.MIS-->
      <endpoint address="net.tcp://192.168.117.39:5000/IService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" contract="MIS.Service.Contract.IService" name="Group.MIS" />
      <endpoint address="net.tcp://192.168.117.146:5002/IService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" contract="HRS.WCF.Contract.IService" name="Group.HRS" />
      <endpoint address="net.tcp://192.168.117.146:5003/IOperationService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" contract="HRS.WCF.Contract.IOperationService" name="Group.HRSOperation" />
      <!--<endpoint address="net.tcp://192.168.117.146:5005/IStockCenterContract" binding="netTcpBinding" bindingConfiguration="stockCenterTcpBind" contract="StockCenter.Contract.IStockCenterContract" name="ERP.StockCenter" />-->
      <endpoint address="net.tcp://192.168.117.39:5006" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" contract="ERP.SAL.Interface.IFinishOrder" name="ERP.FinishOrder" />
      <!-- B2C服务 -->
      <endpoint address="net.tcp://192.168.117.146:6000/IService" binding="netTcpBinding" contract="B2C.Service.Contract.IKeedeAdmin" bindingConfiguration="keedeTcpBind" name="B2C.Keede" />
      <endpoint address="net.tcp://192.168.117.146:6002/IService" binding="netTcpBinding" contract="B2C.Service.Contract.IKeedeAdmin" bindingConfiguration="keedeTcpBind" name="B2C.Baishop" />
      <!--<endpoint address="net.tcp://121.196.138.96:30000/ITmallSynchronous" binding="netTcpBinding" bindingConfiguration="TMallTcpBind" contract="Baishop.Service.SyncIntermediary.Contract.ITmallSynchronous"  name="Baishop.SyncIntermediary" />-->
      <!-- 促销中心-endpoint -->
      <endpoint address="net.tcp://192.168.117.146:10011/IPromotionAdmin" binding="netTcpBinding" bindingConfiguration="NewPromotionTcpBind" contract="PromotionCenter.Public.Contract.IPromotionAdmin" behaviorConfiguration="NewPromotionBehavior" name="NewPromotionService" />
      <!-- 商品中心 -->
      <endpoint address="net.tcp://192.168.117.146:7100/IERPGoodsService" binding="netTcpBinding" bindingConfiguration="GoodsServerBind" behaviorConfiguration="GoodsServerBehavior" contract="KeedeGroup.GoodsManageSystem.Public.Interface.ERP.IERPGoodsService" name="ERPGoodsService" />
      <!--<endpoint address="net.tcp://192.168.2.70:5500/IService" binding="netTcpBinding" contract="ShopSystem.Company.Service.Interface.IService" bindingConfiguration="keedeTcpBind" name="Shop.Keede" />
      <endpoint address="net.tcp://192.168.2.70:5600/IService" binding="netTcpBinding" contract="ShopSystem.Company.Service.Interface.IService" bindingConfiguration="keedeTcpBind" name="Shop.OLEN" />-->
      <!--顺丰接口-->
      <endpoint address="http://bsp-oisp.sf-express.com/bsp-oisp/ws/expressService?wsdl" binding="basicHttpBinding" bindingConfiguration="CommonServiceServiceSoapBinding" contract="SFService.IService" name="CommonServicePort" />
      <!--宅急送-->
      <endpoint address="http://edi.zjs.com.cn/EdiBarCodeService/EdiBarCodeService.asmx" binding="basicHttpBinding" bindingConfiguration="EdiBarCodeServiceSoap" contract="ZJSService.EdiBarCodeServiceSoap" name="EdiBarCodeServiceSoap" />
      <!--操作日志接口-->
      <endpoint address="net.tcp://192.168.117.39:15020/IWriteService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" name="OperationWriteService" contract="OperationLog.Contract.IWriteService" />
      <endpoint address="net.tcp://192.168.117.39:15021/IReadService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" name="OperationReadService" contract="OperationLog.Contract.IReadService" />
      <!-- KD联盟店服务 -->
      <endpoint address="net.tcp://192.168.117.39:9000/IDomainService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" name="Shop.Keede" contract="AllianceShop.Contract.IDomainService" />
      <!-- BS联盟店服务 -->
      <endpoint address="net.tcp://192.168.117.146:9001/IDomainService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" name="Shop.OLEN" contract="AllianceShop.Contract.IDomainService" />
      <endpoint address="net.tcp://192.168.117.146:5111/IServiceContract" binding="netTcpBinding" contract="Baishop.Service.EnterpriseCertification.Contract.IServiceContract" bindingConfiguration="keedeTcpBind" name="EnterpriseCertification_JT" />
    </client>
    <behaviors>
      <!--netTcpBinding-->
      <!--<serviceBehaviors>
        <behavior name="behaviorConfig">
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
       
      </serviceBehaviors>-->

      <!-- 商品中心 -->
      <endpointBehaviors>
        <behavior name="GoodsServerBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="ServiceViewEventBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="MemberCenterBehavior">
          <dataContractSerializer ignoreExtensionDataObject="false" maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="EndPointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="1073741824" />
        </behavior>
        <!-- 促销中心-behavior -->
        <behavior name="NewPromotionBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="CommonServiceServiceSoapBinding" />
        <binding name="EdiBarCodeServiceSoap" />
      </basicHttpBinding>
      <!-- 商品中心 -->
      <netTcpBinding>
        <binding name="UCNetTcpBinding" sendTimeout="00:01:00" maxBufferSize="2147483647" maxConnections="20" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"></readerQuotas>
          <security mode="None" />
        </binding>
        <binding name="GoodsServerBind" closeTimeout="00:01:00" openTimeout="00:10:00" receiveTimeout="01:00:00" sendTimeout="00:01:00" maxBufferSize="2147483647" maxConnections="1000" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
        <binding name="keedeTcpBind" closeTimeout="00:01:00" openTimeout="00:10:00" receiveTimeout="00:05:30" sendTimeout="00:10:00" maxBufferSize="2147483647" maxConnections="20" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None"></security>
        </binding>
        <!-- 促销中心-binding -->
        <binding name="NewPromotionTcpBind" closeTimeout="00:00:03" openTimeout="00:00:03" receiveTimeout="00:30:00" sendTimeout="00:00:05" maxBufferSize="2147483647" maxConnections="50000" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <netMsmqBinding>
        <!--<binding name="MsmgBinding" maxReceivedMessageSize="2147483647" exactlyOnce="false" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="None" />
        </binding>-->
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
