<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Config.Keede.Library" version="1.0.7" targetFramework="net461" />
  <package id="Core.GoodsCenter" version="3.5.5.4" targetFramework="net461" />
  <package id="Core.MIS" version="1.4.5-beta" targetFramework="net40" />
  <package id="Framework.Core" version="3.2.0-beta14" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
</packages>