<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="MadeInIndex" value="16" />
    <add key="LabelWidth" value="38"/>
    <add key="LabelHeight" value="45"/>
    <add key="LabelDPI" value="300"/>
    <add key="JingTuoSaleFilialeID" value="43609645-97DD-4AE4-989D-F3C867969A99"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="keedeTcpBind" maxBufferSize="2147483647" maxConnections="20" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
          </security>
        </binding>
        <binding name="GoodsServerBind" closeTimeout="00:01:00" openTimeout="00:10:00" receiveTimeout="01:00:00" sendTimeout="00:01:00"  maxBufferSize="2147483647"
          maxConnections="1000" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    
    <client>
      <endpoint address="net.tcp://222.73.240.70:5100/IService" binding="netTcpBinding"  bindingConfiguration="keedeTcpBind" contract="MIS.Service.Contract.IService" name="Group.MIS"/>
      <endpoint address="net.tcp://222.73.240.70:5104/IService/" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" contract="ERP.Service.Contract.IService" name="Group.ERP"/>
      <endpoint address="net.tcp://222.73.240.69:6100/IService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" contract="B2C.Service.Contract.IKeedeAdmin" name="B2C.Keede"/>
      <endpoint address="net.tcp://222.73.240.111:7101/IB2CGoodsService"  binding="netTcpBinding" bindingConfiguration="GoodsServerBind"  contract="KeedeGroup.GoodsManageSystem.Public.Interface.B2C.IB2CGoodsService" name="B2CGoodsService" />
      <endpoint address="net.tcp://222.73.240.:15120/IWriteService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" name="OperationWriteService" contract="OperationLog.Contract.IWriteService" />
    </client>    
    
    
    <!--<client>
      <endpoint address="net.tcp://192.168.1.225:5001/IService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" contract="MIS.Service.Contract.IService" name="Group.MIS" />
      <endpoint address="net.tcp://192.168.1.225:5004/IService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" contract="ERP.Service.Contract.IService" name="Group.ERP" />
      <endpoint address="net.tcp://192.168.1.225:5030/IService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" contract="B2C.Service.Contract.IKeedeAdmin" name="B2C.Keede" />
      <endpoint address="net.tcp://192.168.1.225:15020/IWriteService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" name="OperationWriteService" contract="OperationLog.Contract.IWriteService" />
      --><!--商品中心服务--><!--
      <endpoint address="net.tcp://222.73.240.111:7101/IB2CGoodsService"  binding="netTcpBinding" bindingConfiguration="GoodsServerBind"  contract="KeedeGroup.GoodsManageSystem.Public.Interface.B2C.IB2CGoodsService" name="B2CGoodsService" />
    </client>-->
  </system.serviceModel>
</configuration>