<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="FineUI" type="FineUI.ConfigSection, FineUI"/>
  </configSections>
  <FineUI EnableBigFont="true" DebugMode="false"/>
  <connectionStrings>
    <!--<add name="db_CMS" connectionString="server=192.168.1.226;database=Test.Group.ERP;user id=test;password=t#@!$%;" providerName="System.Data.SqlClient"/>-->
    <add name="db_CMS" connectionString="server=192.168.1.226;database=Test.AllianceERP;user id=test;password=t#@!$%;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="SystemId" value="B7E7DFC0-03A6-40AF-9333-B2E8B4695F1D"/>
    <add key="FilialeId" value="06B30857-82F5-45F5-8768-79BD4211806C"/>
    <!--联盟店资源服务器id-->
    <add key="ShopWebSiteId" value="2768C9A8-3500-43F9-A1C1-46A83568EF14"/>
    
    <add key="ExceptionLogPath" value="E:\LogFiles\CMS\"/>
    <add key="keedeurl" value="http://localhost:10585/"></add>
    <add key="eyeseeurl" value="http://localhost:10585/"/>
    <!-- 团购生成页面服务器URL-->
    <add key="CheckPath" value="userdir/ZzzCheckingHistoryFolder/对账记录表.xml"/>
    <add key="StockDeclare" value="9:30"/>
    <add key="IsTestOrder" value="true"/>
    <add key="SemiStockProcess" value="1"/>
    <!--配货分拣流程开关-->
    <add key="IsPickONOFF" value="False"/>
    <!--Eyesee的异常错误 1提示 0不提示-->
    <add key="EyeseeError" value="1"/>
    <!--广告流量统计URL-->
    <add key="ClickCount" value="http://www.keede.com.cn/ClickCount.aspx?id={0}&amp;url={1}"/>
    <!--管理系统开关-->
    <add key="ManageONOFF" value="True"/>
    <!--管理系统接入地址-->
    <add key="ManageAddress" value="http://192.168.1.81:7788/"/>
    <!--保持几年数据查询-->
    <add key="KeepYearsData" value="2"/>
    <!--统一登录需求配置-->
    <add key="DES_KEY" value="06EEBA9506C3412dABA61D1F6309D924"/>
    <add key="Platform" value="0"/>
    <!--短信邮件密钥-->
    <add key="EncryptKey" value="jiejie65"/>
    <add key="ResourceServerImg" value="http://192.168.1.81:2010/Keede/PIMG/"/>
    <add key="ResourceServerInformation" value="http://192.168.1.81:2014/"/>
    <add key="ERP_StockCenter_WaitPushDBName" value="db_CMS"/>
    <add key="NeedMonitorSQL" value="false"/>


    <!--顺丰接入编码-->
    <add key="SFAccess" value="SHKDGXKJ"/>
    <!--顺丰校验码-->
    <add key="SFCheckWork" value="xdUh2kv3LGyqZYri"/>
    <!--顺丰月结卡号-->
    <add key="SFCustId" value="0215765895"/>

    <!--中通合作方代码-->
    <add key="ZTOPartner" value="test"/>
    <!--中通加密密码-->
    <add key="ZTOPassword" value="123456"/>
    <!--中通运单号最低可用数量-->
    <add key="ZTOUsableMailNoQuantity" value="50"/>
    <!--中通每次生成运单号数量，最大不能超过1000-->
    <add key="ZTOGenerateMailNoQuantity" value="10"/>

    <!--宅急送客户端标识-->
    <add key="ZJSClientFlag" value="TestClient"/>

    <!--圆通客户编码-->
    <add key="YTClientId" value="K10101010"/>
    <!--圆通客户代码-->
    <add key="YTCustomerId" value="K10101010"/>
    <!--圆通合作方代码-->
    <add key="YTParternId" value="123456"/>
    <!--圆通下单POST请求地址-->
    <add key="YTRequestUrl" value="http://218.83.245.210:9001/web/CommonOrderModeBServlet.action"/>
    <!--圆通取消订单POST请求地址-->
    <add key="YTRequestUrlCancel" value="http://218.83.245.210:9001/web/CommonOrderServlet.action"/>

    <!--微特派POST请求地址-->
    <add key="WTPRequestUrl" value="http://ditu.weitepai.com/wtperp/duijie/dj_receivewaybill_new.php"/>
    <!--微特派密钥-->
    <add key="WTPKey" value="123456"/>
    <!--微特派客户编号-->
    <add key="WTPCustomersId" value="10008"/>

    <!--申通POST请求地址-->
    <add key="STORequestUrl" value="http://122.225.107.78:900/?API=KEEDE"/>






  </appSettings>
  <system.web>
    <sessionState mode="StateServer" stateConnectionString="tcpip=localhost:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="1800"/>
    <pages styleSheetTheme="Default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="x" assembly="FineUI" namespace="FineUI" />
        <add tagPrefix="rad" namespace="Telerik.Charting" assembly="Telerik.Web.UI"/>
        <add tagPrefix="rad" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
      </controls>
    </pages>
    <httpHandlers>
      <add verb="GET" path="res.axd" type="FineUI.ResourceHandler, FineUI"/>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false"/>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI"/>
    </httpModules>
    <httpRuntime maxRequestLength="102400" executionTimeout="720"/>
    <compilation debug="true"/>
  </system.web>
  <system.webServer>
    <modules>
      <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI"/>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" preCondition="integratedMode,runtimeVersionv2.0"/>
    </modules>
    <handlers>
      <add name="FineUI" verb="GET" path="res.axd" type="FineUI.ResourceHandler, FineUI"/>
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource"/>
      <add name="Telerik_Web_UI_DialogHandler_aspx" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler"/>
      <add name="ChartImage_axd" verb="*" preCondition="integratedMode" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <system.serviceModel>
    <client>
      <!--邮件短信通道（新）-->
      <endpoint address="net.msmq://192.168.1.81/private/SmsService_Keede_Single" binding="netMsmqBinding" bindingConfiguration="MsmgBinding" contract="keede.EmailSmsService.Contract.IMailSmsService" name="SmsServiceEndpoint_Single"/>
      <endpoint address="net.msmq://192.168.1.81/private/MailService_Keede_Single" binding="netMsmqBinding" bindingConfiguration="MsmgBinding" contract="keede.EmailSmsService.Contract.IMailSmsService" name="MailServiceEndpoint_Single"/>
      <!--KeedeGroup.MIS-->
      <endpoint address="net.tcp://192.168.1.81:9411/IService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" contract="MIS.Service.Contract.IService" name="Group.MIS"/>
      <endpoint address="net.tcp://192.168.1.81:9512/IService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" contract="HRS.WCF.Contract.IService" name="Group.HRS"/>
      <endpoint address="net.tcp://192.168.1.81:5003/IOperationService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" contract="HRS.WCF.Contract.IOperationService" name="Group.HRSOperation"/>
      <endpoint address="net.tcp://192.168.1.81:5005/IStockCenterContract" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" contract="StockCenter.Contract.IStockCenterContract" name="ERP.StockCenter"/>
      <!-- 订单一次完成 -->
      <endpoint address="net.tcp://192.168.1.81:5006" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" contract="ERP.SAL.Interface.IFinishOrder" name="ERP.FinishOrder"/>
      <!-- 促销服务 -->
      <endpoint address="net.tcp://192.168.1.81:1234/IPromotionAdmin" behaviorConfiguration="ServiceViewEventBehavior" binding="netTcpBinding" bindingConfiguration="PromotionTcpBind" contract="PromotionContract.Interface.IPromotionAdmin" name="PromotionAdmin"/>
      <endpoint address="net.tcp://192.168.1.81:1234/IPromotionPlatform" behaviorConfiguration="ServiceViewEventBehavior" binding="netTcpBinding" bindingConfiguration="PromotionTcpBind" contract="PromotionContract.Interface.IPromotionPlatform" name="PromotionPlatform"/>
      <!-- 门店 -->
      <endpoint address="net.tcp://192.168.1.81:9211/IService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" contract="ShopSystem.Company.Service.Interface.IService" name="Group.ShopSystem" />
      <!--加盟店-->
      <endpoint address="net.tcp://192.168.1.81:9110/IDomainService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" name="Group.ShopSystem" contract="AllianceShop.Contract.IDomainService" />
      <endpoint address="net.tcp://192.168.1.81:5030/IService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" contract="B2C.Service.Contract.IKeedeAdmin" name="B2C.Keede" />
      <!-- B2C.Baishop -->
      <endpoint address="net.tcp://192.168.1.81:5032/IService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" contract="B2C.Service.Contract.IKeedeAdmin" name="B2C.Baishop" />
      <!-- 商品中心 -->
      <endpoint address="net.tcp://192.168.1.81:8889/IERPGoodsService"  binding="netTcpBinding" bindingConfiguration="GoodsServerBind"  contract="KeedeGroup.GoodsManageSystem.Public.Interface.ERP.IERPGoodsService" name="ERPGoodsService" />

      <!--操作日志接口-->
      <endpoint address="net.tcp://192.168.1.81:15020/IWriteService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" name="OperationWriteService" contract="OperationLog.Contract.IWriteService" />
      <endpoint address="net.tcp://192.168.1.81:15021/IReadService" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" name="OperationReadService" contract="OperationLog.Contract.IReadService" />

      <!--顺丰快递-->
      <endpoint address="http://bsp-test.sf-express.com:9090/bsp-ois/ws/expressService?wsdl" binding="basicHttpBinding" bindingConfiguration="CommonServiceServiceSoapBinding" contract="SFService.IService" name="CommonServicePort"/>

      <!--宅急送-->
      <endpoint address="http://edi.zjs.com.cn:8007/edibarcodeservice2/edibarcodeservice.asmx" binding="basicHttpBinding" bindingConfiguration="EdiBarCodeServiceSoap" contract="ZJSService.EdiBarCodeServiceSoap" name="EdiBarCodeServiceSoap" />

      <endpoint address="net.tcp://192.168.1.81:23002" behaviorConfiguration="EndPointBehavior" binding="netTcpBinding" bindingConfiguration="ResourceFileServerBinding" contract="ResourcePublic.Interface.IResourceFileServer" name="IResourceFileServer"></endpoint>
      <endpoint address="net.tcp://192.168.1.81:23001" behaviorConfiguration="EndPointBehavior" binding="netTcpBinding" bindingConfiguration="ResourceFileServerBinding" contract="ResourcePublic.Interface.IFileClient" name="IFileClient"></endpoint>
      <endpoint address="net.tcp://192.168.1.81:23000" behaviorConfiguration="EndPointBehavior" binding="netTcpBinding" bindingConfiguration="ResourceBinding" contract="ResourcePublic.Interface.IUpload" name="IUpload"></endpoint>
    </client>
    <behaviors>

      <!--netTcpBinding-->
      <!--<serviceBehaviors>
        <behavior name="behaviorConfig">
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
       
      </serviceBehaviors>-->

      <!-- 商品中心 -->
      <endpointBehaviors>
        <behavior name="GoodsServerBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="ServiceViewEventBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="EndPointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="1073741824" />
        </behavior>
      </endpointBehaviors>

    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="CommonServiceServiceSoapBinding"/>
        <binding name="EdiBarCodeServiceSoap"/>
      </basicHttpBinding>
      <!-- 商品中心 -->
      <netTcpBinding>
        <binding name="ResourceBinding" maxReceivedMessageSize="1073741824" maxConnections="1000" openTimeout="00:00:10" closeTimeout="00:00:10" sendTimeout="00:00:20" receiveTimeout="00:10:00">
          <readerQuotas maxDepth="1024" maxStringContentLength="1073741824" maxArrayLength="1073741824" maxBytesPerRead="1073741824" maxNameTableCharCount="1024" />
          <reliableSession enabled="true" ordered="true" inactivityTimeout="00:00:05"/>
          <security mode="None" />
        </binding>
        <binding name="ResourceFileServerBinding" closeTimeout="00:01:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" maxConnections="10000" maxReceivedMessageSize="1073741824">
          <readerQuotas maxDepth="1024" maxStringContentLength="1073741824" maxArrayLength="1073741824" maxBytesPerRead="1073741824" maxNameTableCharCount="1024" />
          <security mode="None" />
        </binding>
        <binding name="GoodsServerBind" closeTimeout="00:01:00" openTimeout="00:10:00" receiveTimeout="01:00:00" sendTimeout="00:01:00"  maxBufferSize="2147483647" maxConnections="1000" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
        <binding name="keedeTcpBind" maxBufferSize="2147483647" maxConnections="20" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None"></security>
        </binding>
        <binding name="MisBinding" transactionFlow="true" sendTimeout="00:15:00" maxReceivedMessageSize="20000001" maxBufferSize="20000001" maxConnections="10">
          <security mode="None"></security>
        </binding>
        <binding name="ShopAdminTcpBind" transactionFlow="true" sendTimeout="00:15:00" maxReceivedMessageSize="20000001" maxBufferSize="20000001" maxConnections="10">
          <security mode="None"></security>
        </binding>
        <binding name="PromotionTcpBind" closeTimeout="00:01:00" sendTimeout="00:01:00" openTimeout="00:01:00" maxBufferSize="2147483647" maxConnections="50" maxReceivedMessageSize="2147483647" transactionFlow="true" transactionProtocol="WSAtomicTransactionOctober2004" receiveTimeout="00:00:30">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <reliableSession enabled="true" ordered="true" inactivityTimeout="00:00:40"/>
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
      <netMsmqBinding>
        <binding name="MsmgBinding" maxReceivedMessageSize="2147483647" exactlyOnce="false" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647"/>
          <security mode="None"/>
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
</configuration>
