<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogExceptionPath" value=""/>
    
    <add key="ReadQuantity" value ="100"/>
    <!--读取数量-->
    <add key="DeleteTime" value ="12"/>
    <!--删除成功执行过的异常时间间隔（单位：小时）-->
  </appSettings>

  <connectionStrings>
    <add name="db_CMS" connectionString="server=192.168.1.226;database=test.keede;user id=test;password=t#@!$%;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--for keede wcf service config-->
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://192.168.1.81:9998/KeedeAdmin" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" contract="Keede.WcfAdmin.Contract.IKeedeAdmin" name="EyeseeEndPoint" />
      <endpoint address="net.tcp://192.168.1.81:9997/KeedeAdmin" binding="netTcpBinding"  bindingConfiguration="keedeTcpBind" contract="Keede.WcfAdmin.Contract.IKeedeAdmin" name="KeedeEndPoint" />
      <endpoint address="net.tcp://192.168.1.81:9945/HRS" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" contract="HRS.WcfService.Contract.IKeedeMISService" name="KeedeMisEndpoint" />
    </client>
    <behaviors>

      <!--netTcpBinding-->
      <serviceBehaviors  >
        <behavior name="MEX" >
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata  />

        </behavior>

      </serviceBehaviors>

    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="keedeTcpBind" closeTimeout="00:05:00" sendTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:05:00" maxBufferSize="2147483647" maxConnections="20" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
    </bindings>

  </system.serviceModel>

</configuration>
