<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ReadQuantity" value ="50"/><!--读取数量-->
    <add key="DeleteTime" value ="12"/><!--删除成功执行过的异常时间间隔（单位：小时）-->
  </appSettings>

  <connectionStrings>
    <!--<add name="db_CMS" connectionString="server=192.168.1.226\testteam;database=228.keede;user id=test;password=t#@!$%;" providerName="System.Data.SqlClient"/>-->
    
  </connectionStrings>
  
  <!--for keede wcf service config-->
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://192.168.1.180:9998/KeedeAdmin" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" contract="Keede.WcfAdmin.Contract.IKeedeAdmin" name="EyeseeEndPoint" />
      <endpoint address="net.tcp://192.168.1.180:9997/KeedeAdmin" binding="netTcpBinding"  bindingConfiguration="keedeTcpBind" contract="Keede.WcfAdmin.Contract.IKeedeAdmin" name="KeedeEndPoint" />
      <endpoint address="net.tcp://222.73.240.67:9987/KeedeAdmin" binding="netTcpBinding" bindingConfiguration="keedeTcpBind" contract="Keede.WcfAdmin.Contract.IKeedeAdmin" name="baishopEndPoint" />
    </client>
    <behaviors>

      <!--netTcpBinding-->
      <serviceBehaviors  >
        <behavior name="MEX" >
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata  />

        </behavior>

      </serviceBehaviors>

    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="keedeTcpBind">
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
    </bindings>

  </system.serviceModel>
  <!--end for keede wcf service config-->
  </configuration>
